.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    color: white;
}

.nav-container{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 500;
}
.nav-buttons{
    color: #003580;
    border: none;
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
}